* {
  margin: 0;
  padding: 0;
}
#wrap {
  width: 1200px;
  margin: 0 auto;
}
h1 {
  font-size: 30px;
  padding: 20px;
}
ul {
  display: flex;
  padding: 20px;
}
li {
  display: block;
  width: 150px;
  height: 150px;
  padding-right: 20px;
  text-align: center;
  justify-content: center;
  opacity: 0.5;
}
li:hover {
  opacity: 1;
}
img {
  width: 150px;
  height: 150px;
  background-position: center;
  background-size: cover;
}